* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: teal; /* fallback for old browsers */
  background: linear-gradient(to right, rgb(0, 95, 95), #000505);
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin: 0px;
  margin-bottom: 9px;
  font-size: 18px;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: 0.5s;
}
.resultado-enter.resultado-enter-active {
  transform: translateY(0%);
}
.resultado-exit {
  transform: translateY(0);
  transition: 0.6s;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.resultado-exit-active {
  opacity: 0;
  transform: translateY(-10%);
}
